<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianlq.eurekacustomer.mapper.UserMapper">

    <sql id="user">
            id id,
            name name,
            birth birth
    </sql>

    <select id="findAll" resultType="User">
        select
            <include refid="user"/>
        from user
    </select>

    <select id="findUserById" parameterType="java.lang.String" resultType="User">
        select
            <include refid="user"/>
        from user
        <where>
            <if test="id != null and id != ''">
              id = #{id}
            </if>
        </where>
        limit 1
    </select>

    <insert id="insertUser" parameterType="User">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
            select replace(uuid(), '-', '') as id from dual
        </selectKey>
        insert into user(id, name, birth)
        values (#{id}, #{name}, #{birth})
    </insert>

    <update id="updateUser" parameterType="User">
        update user
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="birth != null and birth != ''">
                birth = #{birth},
            </if>
        </trim>
        <where>
            <if test="id != null and id != ''">
                 id = #{id}
            </if>
        </where>
    </update>

    <delete id="deleteUser" parameterType="java.lang.String">
        delete from user where id = #{id}
    </delete>
</mapper>